<div class="row">
    <div class="col-md-5" id="columnchart_values">
    </div>
    <div class="col-md-5" id="columnchart_values2">
    </div>
    <div class="col-md-12" id="columnchart_values3">
    </div>
</div>
