<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart1);

    function drawChart1() {

        $.ajax({
            url: '/Dashboard/GetCarUsingFuelChart',
            type: 'get',
            success: function (Fuel) {
                var values = jQuery.parseJSON(Fuel);
                console.log(values);
                var arrayData = [['Brand', 'Fuel']];
                $.each(values, function (index, value) {
                    arrayData.push([value.Brand, value.Count]);
                });
                var data = google.visualization.arrayToDataTable(arrayData);
                var options = {
                    title: 'Benzinli Arabalar Grafiği'
                };
                console.log(arrayData);
                var chart = new google.visualization.PieChart(document.getElementById('FuelPie'));
                chart.draw(data, options);
            }
        });


    }
</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart2);

    function drawChart2() {

        $.ajax({
            url: '/Dashboard/GetCarOfBrandCount',
            type: 'get',
            success: function (Brand) {
                var arrayData = [['Task', 'Hours per Day']];

                var Brands = jQuery.parseJSON(Brand);
                $.each(Brands, function (index, value) {
                    arrayData.push([value.Brand, value.Count]);
                });
                var data = google.visualization.arrayToDataTable(arrayData);
                var options = {
                    title: 'Markalara göre araç grafiği'
                };

                var chart = new google.visualization.PieChart(document.getElementById('BrandPie'));
                chart.draw(data, options);
            }
        });



    }
</script>
<script type="text/javascript">


    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart3);
    function drawChart3() {
        $.ajax({
            url: '/Dashboard/GetMotorVolumeCount',
            type: 'get',
            success: function (MotorVolume) {
                var result = jQuery.parseJSON(MotorVolume);
                var arrayData = [["Element", "Density", { role: "style" }]];
                $.each(result, function (index, value) {
                    arrayData.push([value.Brand, value.Count, "silver"])
                });
                var data = google.visualization.arrayToDataTable(arrayData);
                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                    {
                        calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation"
                    },
                    2]);

                var options = {
                    title: "1.3 - 1.6 Motor altında araç grafiği",
                   
                    height: 400,
                    bar: { groupWidth: "50%" },
                    legend: { position: "none" },
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                chart.draw(view, options);
            }
        })

    }
</script>

<div class="row">
    <div class="col-md-6 mt-2 mb-4">
        <div id="FuelPie"></div>
    </div>
    <div class="col-md-6 mt-2 mb-4">
        <div id="BrandPie"></div>
    </div>
    <div class="col-md-12 mt-2 mb-4">
        <div id="columnchart_values"></div>
    </div>
</div>
