@{
    Layout = null;
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_UIHeadComponentPartial")
<body>
    <div class="wrapper">

        @await Component.InvokeAsync("_UISideBarComponentPartial")

        @await Component.InvokeAsync("_UINavBarComponentPartial")

        <div class="container">
            <div class="page-inner">
           @RenderBody()
            </div>
        </div>
        @await Component.InvokeAsync("_UIFooterComponentPartial")

    </div>
   
</body>
</html>
