@{
    Layout = "~/Views/UILayout/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    @await Component.InvokeAsync("_DashboardWidgetComponentPartial")
    @await Component.InvokeAsync("_DashboardChartComponentPartial")
</div>

