<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="/Dashboard/Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Akış</a>
            <a href="/Default/Index" class="nav-item nav-link"><i class="fa fa-list"></i>Veri Listesi</a>

        </div>
    </nav>
</div>